server:
  port: 8080

spring:
  profiles:
    active: dev
  application:
    name: restaurant
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  cloud:
    discovery:
      enabled: true